body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 100px;
    padding-top: 25px;
}

.blue {
    background-color: rgb(59, 96, 246);
    height: 600px;
    background: rgb(65,231,235);
    background: linear-gradient(0deg, rgba(65,231,235,1) 0%, rgba(52,151,247,1) 100%);
}

.link {
    text-decoration: none;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
}

.link1 {
    margin-right: 100px;
}

.link:hover{
    color: black;
    background-color: rgb(106, 105, 105);
}

.clear {
    clear: both;
}

.title1 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding-left: 100px;
    padding-top: 60px;
}

.line {
    height: 2.5px;
    background-color: rgb(127, 127, 127);
    width: 1325px;
    margin-top: 75px;
    margin-left: 100px;
}

.text1 {
    width: 675px;
    margin-left: 100px;
    margin-top: 25px;
    float: left;
}

.text {
    color: white;
}

.text2 {
    width: 625px;
    float: right;
    margin-right: 100px;
    margin-top: 25px;
}

.img {
    width: 600px;
    height: 200px;
    margin-top: -25px;
}

.white {
    height: 500px;
}

.text3 {
    font-weight: bold;
    color: blue;
}

.pic {
    float: left;
    padding-top: 100px;
    margin-left: 50px;
    width: 300px;
}

.text4 {
    padding-top: 25px;
    color: rgb(162, 162, 162);
}

.link2 {
    color: black;
}

.img1 {
    width: 200px;
    padding-top: 25px;
    padding-left: 25px;
}

.text5 {
    font-size: 14px;
    padding-left: 25px;
    text-decoration: none;
    color: rgb(137, 222, 222);
}

.text6 {
    padding-top: 25px;
}